body{
  padding: 0;
  margin: 0;
}

.page-wrap{
  display: flex;
  flex-direction: row;
}

.main-menu{
  position: sticky;
  top:0;
  background-color: #353535;
  width: 100%;
  max-width: 80px;

  height: 100vh;
  flex-direction: column;
  display: flex;
  .main-menu__item{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-top: 1px solid white;*/


    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    i{
      font-size: 26px;
      color: green;
    }
    &:after{
      content: " ";
      position: absolute;
      bottom: 1px;
      height: 1px;
      background-color: green;
      width: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &:hover{
      i{
        color: #fff;
      }
      &:after{
        background-color: #fff;
      }
      background-color: green;
    }
  }
}
.container{
  width: 100%;
  .content{
    padding: 0 25px;
    font-family:"Times New Roman";
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    h1,h2{
      font-weight:600;
      font-size: 42px;
      margin-left: -2.63px;
      line-height: 1.04;
      letter-spacing: -.015em;
      padding-top: 5px!important;
      margin-bottom:25px;
    }
    .post{
      margin-top: 40px;
      .announce{
      }
      .more{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        border-top:1px solid #c3c3c3;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #e2e2e2;
        .tags{

        }
        a{
          font-size: 18px;
        }
      }
    }
    #list{
      max-width:1000px;
      margin: 0 auto;
    }
    #detail {
      max-width:740px;
      margin: 0 auto;
      .post {
        .more {
          margin-top: 30px;
          padding-top: 15px;
        }
      }
    }
  }
}