body{
  padding: 0;
  margin: 0;
}

.page-wrap{
  display: flex;
  flex-direction: row;
}

.main-menu{
  position: sticky;
  top:0;
  background-color: #353535;
  width: 100%;
  max-width: 80px;

  height: 100vh;
  flex-direction: column;
  display: flex;
  .main-menu__item{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-top: 1px solid white;*/


    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    i{
      font-size: 26px;
      color: green;
    }
    &:after{
      content: " ";
      position: absolute;
      bottom: 1px;
      height: 1px;
      background-color: green;
      width: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &:hover{
      i{
        color: #fff;
      }
      &:after{
        background-color: #fff;
      }
      background-color: green;
    }
  }
}
.container{
  width: 100%;
  .content{
    padding: 0 25px;
    font-family:"Times New Roman";
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    h1,h2{
      font-weight:600;
      font-size: 42px;
      margin-left: -2.63px;
      line-height: 1.04;
      letter-spacing: -.015em;
      padding-top: 5px!important;
      margin-bottom:25px;
    }
    .post{
      margin-top: 40px;
      .announce{
      }
      .more{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        border-top:1px solid #c3c3c3;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #e2e2e2;
        .tags{

        }
        a{
          font-size: 18px;
        }
      }
    }
    #list{
      max-width:1000px;
      margin: 0 auto;
    }
    #detail {
      max-width:740px;
      margin: 0 auto;
      .post {
        .more {
          margin-top: 30px;
          padding-top: 15px;
        }
      }
    }
  }
}

iframe, object, embed {
  max-width: 100%;
}

.CodeMirror{
  height:100%;
  font-size:14px;
}

pre{
  background-color: #F0F0F0;
}

.error{
  .title{
    position: relative;
    &:before{
      content: '!';
      position: absolute;
      left:20px;
      top:-5px;
      font-size: 40px;
      font-weight: bold;
    }
    padding: 10px;
    text-align: center;
    background-color: orange;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid orangered;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  .answer{
    padding: 10px;
    text-align: center;
    background-color: #7aca00;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid green;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    &:hover{
      background-color: #89de08;
    }
  }
}

.boxes {
  margin: auto;
  padding: 20px;
  //background: #484848;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  //color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

form{
  .send_btn{
    margin-top:20px;
    border: none;
    background-color: #7aca00;
    text-transform: uppercase;
    padding: 5px 25px;
    cursor: pointer;
    width:200px;
    text-align: center;
    border-radius: 4px;
  }
}

.overlay{
  display: none;
  &:before {
    content: " ";
    z-index:3;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &.active {
    display: block;
    &:before {
      display: block;
    }
    #modal{
      position: fixed;
      width:600px;
      height:400px;
      margin: 0 auto;
      z-index:4;
      top: 50%;
      left: 50%;
      padding: 45px;
      text-align: center;
      transform: translate(-50%, -50%);
      background-color: #fff;
      .title{
        margin-top: 80px;
        font-size:36px;
      }
      .response{
        font-size: 48px;
        margin-top: 30px;
        font-weight: bold;
      }
    }
  }


}

